@use 'variables' as v;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: v.$fontFamily;

    @media only screen and (min-width: 1115px){
        background-color: v.$veryLightGrayishBlue;
    }
}